@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --background-color: #ddd;
  --text-color: #000;
}

.dark-mode {
  --background-color: #091928;
  --text-color: #ccc;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", sans-serif;
  font-size: x-large;
  background-color: var(--background-color);
  color: var(--text-color);
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

.container {
  width: 60%;
  margin: auto;
}

.section {
  margin: 5rem 0;
  padding: 1rem;
  border-top: 1px solid var(--text-color);
  border-bottom: 1px solid var(--text-color);
}

.experience-item {
  margin: 1rem 0;
}

a {
  text-decoration: underline;
  color: var(--text-color);
}

@media only screen and (max-width: 600px) {
  body {
    font-size: small;
  }
  .container {
    width: 90%;
  }
}

@media only screen and (min-width: 600px) {
  body {
    font-size: medium;
  }
  .container {
    width: 85%;
  }
}

@media only screen and (min-width: 768px) {
  body {
    font-size: larger;
  }
  .container {
    width: 75%;
  }
}

@media only screen and (min-width: 992px) {
  body {
    font-size: large;
  }
  .container {
    width: 60%;
  }
}

@media only screen and (min-width: 1200px) {
  body {
    font-size: x-large;
  }
  .container {
    width: 55%;
  }
}

.btn {
  background-color: var(--text-color);
  color: var(--background-color);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  top: 15px;
  left: 15px;
  text-align: center;
  font-size: 25px;
  line-height: 50px;
  vertical-align: middle;
  -webkit-box-shadow: 0px 0px 20px 0px var(--text-color);
  -moz-box-shadow: 0px 0px 20px 0px var(--text-color);
  box-shadow: 0px 0px 20px 0px var(--text-color);
}

.btn:hover {
  cursor: pointer;
}
